<br>
<mat-card>

  <div class="example-container">

       <div class="form-group col-6" >
          <label for="usr">Name:</label><br>
          <input type="text" class="form-control" id="usr">
        </div>  

        <div class="form-group col-6" >
          <mat-form-field>
            <input matInput placeholder="Input">
          </mat-form-field>
        </div> 
        
        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>
        
        
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  
</mat-card>
<br><br>
<mat-card>

  <div class="example-container" >
    <mat-form-field>
      <input matInput placeholder="Input" size="3">
    </mat-form-field>
  </div>

</mat-card>